
    <h1> Виды цветов </h1>
    <h3>@Model.flowerCategory</h3>
    @{
        foreach (var flower in Model.allFlowers)
        {
            <div>
                <h2> Вид: @flower.name </h2>
                <p> Цена:$@flower.price.ToString("c")</p> 
            </div>
        }
    }

